---
pageable: true
per_page: 10
---

= partial "partials/nav"
= partial "partials/banner"
= partial "partials/about"
= partial "partials/education"
= partial "partials/work"
= partial "partials/skills"
= partial "partials/projects"
= partial "partials/contact"
